<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
</head>

<body>
    <form action="/loginData" method="POST"
        style="background-color: lightpink;height: 150px; width: 200px; text-align: center; border-radius: 10px;">
        <input type="text" placeholder="Email" name="email" required
            style="margin-top: 10px; text-align: center; border-radius: 10px; border: none; height: 30px;"><br><br>
        <input type="text" placeholder="Password" name="password" required
            style="text-align: center; border-radius: 10px; border: none; height: 30px;"><br><br>
        <input type="submit" value="Login"
            style="margin-bottom: 20px; height: 30px; width: 120px; border-radius: 20px; border: none; color: white; background-color: green; ">
    </form>
</body>

</html>